h1{
    
  /*  margin:60px;*/
    text-align:center;
    font-family: 'Bree Serif', serif;
}
body{
background: #4CB8C4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3CD3AD, #4CB8C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title{
    font-family: 'Bree Serif', serif; 
    font-size: large;
}
.container{
    background-color:aliceblue;
}
img{
    width: 120px;
    height: 120px;
}